body {
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 20s linear;
  height: 80px;
}

.App-header {
  background-color: #222;
  height: 150px;
  padding: 20px;
  color: white;
}

.App-title {
  font-size: 1.5em;
}

.App-intro {
  font-size: large;
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}

.card-list {
  display: flex;
  flex-flow: row wrap;
}

.login-form {
  height: 100%;
}

.auth-form-body {
  max-width: 450px;
}

#collection-modal {
  height: 325px;
}

.dimmed.dimmable > .ui.modals.dimmer.visible {
  display: flex !important;
}


.name-input {
  width: 70%;
}

.number-input {
  width: 30%;
}

.magic-card {
  color: white !important;
  height: 310px !important;
  width: 223px !important;
  background: linear-gradient( rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5) ), center no-repeat url('assets/images/card_back_2.jpeg') !important;
  background-size: 223px 310px !important;
}

.sidebar-pusher {
  min-height: 680px;
  min-width: 410px;
}

#pusher {
  margin-left: 1em !important;
  margin-right: 1em !important;
}


.white-text {
  color: white !important;
}

.ui.list>.item .header {
  color: white !important;
}

a:hover.white-text {
  color: #4183c4 !important;
}

 .flex-grow {
  display: flex;
  flex-flow: row wrap;
  flex-grow: 1;
  width: 100%;
  margin: auto;
  position: relative;
}

#home {
  /* padding: 1em 0em; */
  /* position:fixed !important; */
  /* position: absolute; */
  /* top: 64px; */
  margin-top: -.1em !important;
  right: 0;
  bottom: 0;
  left: 0;
}

.main-header {
  font-size:  4em !important;
  font-weight: normal !important;
  margin-bottom: 0 !important;
  /* margin-top:  1em !important; */
  color: white !important;
}

.sub-header {
  font-size: 1.7em !important;
  font-weight: normal !important;
  margin-top: 1.5em !important;
}

.deck-list-group {
  width: 220px;
}

#deck-container-small {
  /* align-items: flex-start; */
  width: 100%;
  height: 80%;
  -moz-column-count:3;
  -moz-column-gap: 3%;
  -moz-column-width: 30%;
  -webkit-column-count:3;
  -webkit-column-gap: 3%;
  -webkit-column-width: 30%;
  column-count: 3;
}

#deck-container-mid {
  /* align-items: flex-start; */
  width: 100%;
  height: 85%;
  -moz-column-count:3;
  -moz-column-gap: 3%;
  -moz-column-width: 30%;
  -webkit-column-count:3;
  -webkit-column-gap: 3%;
  -webkit-column-width: 30%;
  column-count: 3;
}

#deck-container-large {
  /* align-items: flex-start; */
  width: 100%;
  height: 90%;
  -moz-column-count:3;
  -moz-column-gap: 3%;
  -moz-column-width: 30%;
  -webkit-column-count:3;
  -webkit-column-gap: 3%;
  -webkit-column-width: 30%;
  column-count: 3;
}

.ui.segments:first-child {
   margin-top: 1em !important;
}
